flows.json
[{"id":"d163d37d2df6cae7","type":"tab","label":"流程 1","disabled":false,"info":"","env":[]},{"id":"8386620678750762","type":"link in","z":"d163d37d2df6cae7","name":"456","links":[],"x":115,"y":120,"wires":[["724827c2e1b9384c"]]},{"id":"1d76d4b9bb68d780","type":"link call","z":"d163d37d2df6cae7","name":"","links":["8386620678750762"],"timeout":"30","x":330,"y":200,"wires":[["68d26afcf4ef50fb"]]},{"id":"ac09d91861edeb00","type":"link out","z":"d163d37d2df6cae7","name":"","mode":"return","links":[],"x":375,"y":120,"wires":[]},{"id":"724827c2e1b9384c","type":"function","z":"d163d37d2df6cae7","name":"","func":"msg.payload = 123;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":120,"wires":[["ac09d91861edeb00"]]},{"id":"1980c5dbe19376f6","type":"inject","z":"d163d37d2df6cae7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["1d76d4b9bb68d780"]]},{"id":"68d26afcf4ef50fb","type":"debug","z":"d163d37d2df6cae7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":200,"wires":[]}]